{{#unless newItem}}
  <button onclick={{route-action "createNew" "email"}} class="fluid ui button"><i class="plus icon"></i> Add Email Address</button>
  {{#each model.emails as |email|}}
    {{#cuppa-removable-container onRemove=(route-action "remove" email)}}
      <div class="item">
        <div class="content">
          <h2 class="header">{{email.email}}</h2>
        </div>
      </div>
    {{/cuppa-removable-container}}
  {{/each}}
{{else}}
  {{#cuppa-form onSubmit=(route-action "save") changeset=(changeset newItem EmailValidations) as |form|}}
    <div class="required field">
      <label>Email</label>
      {{input type="text" focus-out=(action (mut form.changeset.email))}}
    </div>
  {{/cuppa-form}}
{{/unless}}