{{#unless newItem}}
  <button onclick={{route-action "createNew" "email"}} class="fluid ui button"><i class="plus icon"></i> Add Email Address</button>
  {{#each model.emails as |email index|}}
    <div class="ui vertical segment">
      <h4 class="ui header">{{email.email}}</h4>
    </div>
  {{/each}}
{{else}}
  {{#cuppa-form onSubmit=(route-action "save") changeset=(changeset newItem EmailValidations) as |form|}}
    <div class="required field">
      <label>Email</label>
      {{input type="text" value=form.changeset.email}}
    </div>
  {{/cuppa-form}}
{{/unless}}