<a class="image" href="#">
  <img src="https://cdn2.iconfinder.com/data/icons/avatar-profile/449/avatar_user_default_contact_profile_male-512.png" alt="">
</a>
<div class="content">
  <a class="header" href="#">{{firstName}} {{middleName}} {{lastName}}</a>
  <div class="meta">
    <a>Profile Created: {{moment-format createdAt 'L' 'LLLL'}}</a>
  </div>
</div>