<div class="ui blue secondary menu">
  {{#link-to "instructors.index" classNames="item"}}
    Search
  {{/link-to}}
  {{#link-to "instructors.new" classNames="item"}}
    Create New
  {{/link-to}}
</div>
{{outlet}}
