<i class="close icon"></i>
<div class="header">
  Create a New Instructor
</div>
<div class="content">
  {{#cuppa-form onSubmit=(action "create") changeset=(changeset data InstructorValidations) as |form|}}
  <div class="required field">
    <label>First Name</label>
    {{input type="text" value=form.changeset.firstName}}
  </div>
  <div class="required field">
    <label>Middle Name</label>
    {{input type="text" value=form.changeset.middleName}}
  </div>
  <div class="required field">
    <label>Last Name</label>
    {{input type="text" value=form.changeset.lastName}}
  </div>
{{/cuppa-form}}
</div>