<div class="ui basic segment">
  {{cuppa-pagination-bar activePage=page pageSize=limit totalItems=model.meta.total}}
</div>
<div class="ui basic segment">
  <div class="ui link cards">
    {{#each model as |instructor|}}
      {{cuppa-instructor-card
          firstName=instructor.firstName
          middleName=instructor.middleName
          lastName=instructor.lastName
          createdAt=instructor.createdAt
      }}
    {{/each}}
  </div>
</div>