<div class="item">
  <div class="ui small image">
    <img src="https://cdn2.iconfinder.com/data/icons/avatar-profile/449/avatar_user_default_contact_profile_male-512.png" alt="">
  </div>
  <div class="content">
    <div class="header">{{instructor.firstName}} {{instructor.middleName}} {{instructor.lastName}}</div>
    <div class="meta">
      <span class="address">2 Addresses</span>
      <span class="course">4 Courses Taught</span>
      <span class="education">PhD of Science</span>
      <span class="email">3 Email Addresses</span>
      <span class="evaluation">Never Evaluated</span>
      <span class="phone">1 Phone Number</span>
      <span class="skill">5 Skills</span>
    </div>
    <div class="description"><p>A brief description about this instructor</p></div>
  </div>
</div>