<div class="ui massive inverted menu" local-class="flat-nav">
  {{#link-to "index" classNames="item"}}
    Home
  {{/link-to}}
  {{#link-to "instructors" classNames="item"}}
    Instructors
  {{/link-to}}
</div>
